@charset "utf-8";
/* CSS Document */

.container {
  max-width: 100vw;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* REVIEWS PAGE STYLING */
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#maincontent section {
  min-width: 250px;
  max-width: 100%;
  width: 100%;
  flex-grow: 1;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  padding: 1em 0;
  /* Try changing padding to get rid of scroll bar */
  background-color: #252831;
  text-align: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 0.25em 0.25em 0.25em 0.55em; 
}

nav h1 a:focus {
  outline: none;
  /* padding: 0.25em 0.25em 0.25em 0.25em;  */
  color: #f18200;
  border: 2px solid #f18200;
  border-radius: 5px;
  box-shadow: 0 0 20px 3px #f18200;
}

#breadcrumb {
    white-space: nowrap;
    /* padding: 10px 40px 16px; */
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    padding: 5px;
}

#breadcrumb li a:focus {
  color: #f18200;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #333;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #3397DB;
  background-color: #333;
  padding: 1em;
  align-items: center;
  text-align: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 0.5em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  border-radius: 5px;
}

.filter-options select:focus {
  color: #f18200;
  outline: none;
  border: 2px solid #f18200;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px #f18200;
}

select {
  border-radius: 5px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#restaurants-list li {
  background-color: #f9f9f9;
  border: 1px solid #333;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin: 2em;
  min-height: 380px;
  padding: 2em;
  text-align: center;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  /* box-shadow: 0 0 30px 1px #000000, 0 0 30px 1px #f18200 inset; */
  box-shadow: 0 0 20px 1px #000000;
  flex-grow: 1;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  border-radius: 10px;
}
#restaurants-list li h2 {
  text-align: center;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  text-align: center;
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  /* border-bottom: 3px solid #eee; */
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: 15px 0 0;
  padding: 0.75em 3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:focus {
  /* font-size: 1.2em; */
  outline: none;
  /* border: 3px solid #333; */
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #333;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  box-sizing: border-box;
  background: blue none repeat scroll 0 0;
  height: 87%;
  height: 40vh;
  position: fixed;
  right: 0;
  top: 80px;
  /* width: 50%; */
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  box-sizing: border-box;
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  padding: 0.5em;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1em 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-name:focus {
  outline: none;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #333;
}

#restaurant-img {
  text-align: center;
  width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  text-align: center;
  font-weight: bold;
}

#restaurant-address:focus {
  outline: none;
  border: 1px solid #f18200;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #f18200;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /* padding: 140px 40px 30px; */
  padding: 2em;
  max-width: 50%;
}

#restaurant-container {
  padding: 6em 2em 1em;
  text-align: center;
}

#restaurant-container h1 {
  text-align: center;
}

#reviews-container {
  padding: 2em 2em 8em;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1px solid #333333;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 1em 2em;
  position: relative;
  width: auto;
}

#reviews-list li:focus {
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 10px 1px #f18200;
}

#reviews-list li p {
  margin: 0 0 10px;
  /* font-size: 2em !important; */
}

#reviews-list li p:first-of-type {
  font-weight: bold !important;
  display: inline-block; 
  background: #f18200;
  padding: 5px;
}

#reviews-list li p:nth-child(2) {
  float: right;
  font-weight: bold !important;
  /* display: inline-block;  */
  background: #f18200;
  padding: 5px;
}

#reviews-list li p:nth-child(3) {
  padding: 5px;
  font-weight: bold;
  background: #bada55;
}

#reviews-list li p:nth-child(4) {
  padding: 1em;
  border-right: 2px solid #f18200;
  border-left: 2px solid #f18200;
  border-bottom: 2px solid #f18200;
}

#restaurant-hours td {
  color: #666;
  padding: 1em;
  font-size: 1em;
  text-align: left;
}

#restaurant-hours {
  padding: 1em;
  margin: 1em auto;
}

#restaurant-hours:focus {
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 10px 3px #333;
}


/* MEDIA QUERIES */

@media screen and (min-width: 875px){
  .inside #map-container {
    width: 50%;
    height: 100%;
  }
  #container-2 {
    width: 50%;
  }
}
@media screen and (max-width: 875px){

  nav h1 a {
    font-size: 1em;
  }

  nav h1 a:focus {
    box-shadow: none;
    outline: none;
    border: none;
    color: #0275d8;
  }

  .inside #map-container {
    position: relative;
    height: 400px;
    top: 80px;
  }
  .inside #footer {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 875px) {
  .inside {
    width: 100%;
    margin: auto;
  }
}

